<template>
  <div id="listcon" >
<v-dialog v-model="ok" width="500">
      <v-card>
        <div id="dialogtitle">
          <span style="font-size: 20px">Employee Updated</span>
        </div>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="#3c4571" dark @click="okdialog"> Ok </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- DialogBox for Updating employee -->

    <v-dialog v-model="dialog" persistent max-width="500">
      <div id="dialog">
        <div id="dialogtitle" class="d-flex justify-space-between mb-6">
          <span style="font-size: 20px">Update Employee</span>
          <v-icon color="#fff" style="align-items: unset" @click="clearUpdate">
            mdi-close
          </v-icon>
        </div>
        <div style="padding-left: 6%; padding-top: 2%; padding-right: 5%">
          <validation-observer ref="observer" v-slot="{ invalid }">
            <form @submit.prevent="submit">
              <validation-provider
                v-slot="{ errors }"
                name="Name"
                rules="required|max:10"
              >
                <v-text-field
                  v-model="firstname"
                  :counter="10"
                  :error-messages="errors"
                  label="First Name"
                  required
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="Last Name"
                rules="required|max:10"
              >
                <v-text-field
                  v-model="lastname"
                  :counter="10"
                  :error-messages="errors"
                  label="Last Name"
                  required
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="phoneNumber"
                :rules="{
                  required: true,
                  digits: 13,
                  regex: '^(71|72|74|76|81|82|84|85|86|87|88|89)\\d{11}$',
                }"
              >
                <v-text-field
                  v-model="phoneNumber"
                  :counter="13"
                  :error-messages="errors"
                  label="Phone Number"
                  required
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="email"
                rules="required|email"
              >
                <v-text-field
                  v-model="email"
                  :error-messages="errors"
                  label="E-mail"
                  required
                ></v-text-field>
              </validation-provider>
              <v-text-field
                v-model="address"
                label="Address"
                required
              ></v-text-field>
              <v-text-field v-model="city" label="City" required></v-text-field>
              <div>
                <span style="font-size: 12px; color: #636464">Birth Date</span>
                <datepicker
                  class="datepick"
                  placeholder="Select Birth Date"
                  v-model="birthdate"
                ></datepicker>
              </div>
              <!-- <v-text-field
                  v-model="joiningdate"
                  label="Joining Date"
                  required
                ></v-text-field> -->
              <div style="margin-top: 16px; margin-bottom: 16px">
                <span style="font-size: 12px; color: #636464"
                  >Joining Date</span
                >
                <datepicker
                  class="datepick"
                  placeholder="Select Joining Date"
                  v-model="joiningdate"
                ></datepicker>
              </div>

              <v-btn
                class="mr-4 mb-5 mt-5"
                :disabled="invalid"
                v-on:click="updateCard1()"
                color="#3c4571"
                dark
              >
                Update
              </v-btn>
            </form>
          </validation-observer>
        </div>
      </div>
    </v-dialog>
    <div id="profileView" :class="status">
      <div id="viewdesign" ></div>
      <div>
        <v-btn class="editbutton" :class="status" rounded @click="updateCard"> Edit Profile </v-btn>
        <v-avatar
          class="avatar"
          size="150"
          @mouseover="hover = true"
          @mouseleave="hover = false"
        >
          <input ref="myfile" type="file" @change="onChange" hidden />
          <v-icon
            class="imgbutton"
            @click="onUpload"
            color="#fff"
            large
            dark
            v-show="hover"
            >mdi-camera</v-icon
          >
          <img alt="user" name="profileImage" :src="imag" />
        </v-avatar>
        <div style="margin-top: 100px; margin-left: 50px">
          <v-row justify="start">
            <v-col col="1" sm="12">
              <span style="font-size: 26px; font-weight: 500; color: #495b69"
                >{{ people.firstname }} {{ people.lastname }}</span
              >
            </v-col>
            <v-col col="1" sm="12" class="mb-5">
              <span style="font-size: 16px; color: #2196f3; font-weight: 500">{{
                people.status
              }}</span>
            </v-col>
            <v-col col="1" sm="12" class="mb-4"
              ><span style="font-size: 18px; font-weight: 500; color: #949fa7"
                >Contact Information</span
              ></v-col
            >
            <v-col col="1" sm="12">
              <table style="width: 40%">
                
                <tr>
                  <td>
                    <span
                      style="font-size: 16px; color: #495b69; font-weight: 500"
                      >Phone:
                    </span>
                  </td>
                  <td>
                    <span
                      style="font-size: 16px; color: #2196f3; font-weight: 500"
                      >{{ people.phone }}</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <span
                      style="font-size: 16px; color: #495b69; font-weight: 500"
                      >Email:
                    </span>
                  </td>
                  <td>
                    <span
                      style="font-size: 16px; color: #2196f3; font-weight: 500"
                      >{{ people.email }}</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <span
                      style="font-size: 16px; color: #3f5471; font-weight: 500"
                      >Address:
                    </span>
                  </td>
                  <td>
                    <span
                      style="font-size: 16px; color: #3f5471; font-weight: 300"
                      >{{ people.address }}</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <span
                      style="font-size: 16px; color: #3f5471; font-weight: 500"
                      >City:
                    </span>
                  </td>
                  <td>
                    <span
                      style="font-size: 16px; color: #3f5471; font-weight: 300"
                      >{{ people.city }}</span
                    >
                  </td>
                </tr>
              </table>
            </v-col>
            <v-col col="1" sm="12" class="mb-4 mt-4"
              ><span style="font-size: 18px; font-weight: 500; color: #949fa7"
                >Basic Information</span
              ></v-col
            >
            <v-col col="1" sm="12">
              <table style="width: 40%">
                
                
                <tr>
                  <td>
                    <span style="font-size: 16px; color: #3f5471; font-weight: 500"
                >Birth Date:
              </span>
                  </td>
                  <td>
                    <span style="font-size: 16px; color: #3f5471; font-weight: 300">{{
                this.people.birthdate
              }}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span style="font-size: 16px; color: #3f5471; font-weight: 500"
                >Joining Date:
              </span>
                  </td>
                  <td>
                    <span style="font-size: 16px; color: #3f5471; font-weight: 300">{{
              this.people.joiningdate
              }}</span>
                  </td>
                </tr>
              </table>
            </v-col>
          </v-row>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import { required, digits, email, max, regex } from "vee-validate/dist/rules";
import moment from "moment";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";
import { mapMutations } from "vuex";
import Datepicker from "vuejs-datepicker";
import { mapGetters } from "vuex";
setInteractionMode("eager");
extend("digits", {
  ...digits,
  message: "{_field_} needs to be {length} digits. ({_value_})",
});
extend("required", {
  ...required,
  message: "{_field_} can not be empty",
});
extend("max", {
  ...max,
  message: "{_field_} may not be greater than {length} characters",
});
extend("regex", {
  ...regex,
  message: "{_field_} {_value_} does not match {regex}",
});
extend("email", {
  ...email,
  message: "Email must be valid",
});


export default {
  
  data() {
    return {
      dateformat: "d MMMM yyyy",
      dialog: false,
      id: null,
      firstname: null,
      lastname: null,
      address: null,
      city: null,
      birthdate: null,
      joiningdate: null,
      phoneNumber: null,
      email: null,
      ok: false,
      people: null,
      imag: "",
      status: "",
      statusArray: ["admin", "employee"],
      hover: false,
      
    };
  },
  
  created() {
    this.fetchData();
  },
  components: {
    ValidationObserver,
    ValidationProvider,
    Datepicker,
    
  },
  computed: {
    ...mapGetters(["selectedPerson"]),
  },
  methods: {
     ...mapMutations(["updateAdmin", "updateStaff"]),
    
    fetchData() {
      this.people = this.selectedPerson;
      this.imag = this.people.img;
      this.status = this.people.status;
      if(this.people.birthdate==null){
        this.people.birthdate="Not Added";
      }
      else{
        this.people.birthdate=moment(String(this.people.birthdate)).format('MM/DD/YYYY hh:mm');
      }
      if(this.people.joiningdate==null){
        this.people.joiningdate="Not Added";
      }
      else{
        this.people.joiningdate=moment(String(this.people.joiningdate)).format('MM/DD/YYYY hh:mm');
      }

     
    },
    onChange(e) {
      if (!e.target.files.length) return;
      let file = e.target.files[0];
      this.imag = URL.createObjectURL(file);

      if (this.people.status == "admin") {
        this.$store.commit("updateAdmin", {
          id: this.people.id,
          firstname: this.people.firstname,
          lastname: this.people.lastname,
          city: this.people.city,
          address: this.people.address,
          birthdate: this.people.birthdate,
          joiningdate: this.people.joiningdate,
          email: this.people.email,
          phone: this.people.phone,
          img: this.imag,
        });
       
      }
      if (this.people.status == "employee") {
        this.$store.commit("updateStaff", {
          id: this.people.id,
          firstname: this.people.firstname,
          lastname: this.people.lastname,
          city: this.people.city,
          address: this.people.address,
          birthdate: this.people.birthdate,
          joiningdate: this.people.joiningdate,
          email: this.people.email,
          phone: this.people.phone,
          img: this.imag,
        });
       
      }
      URL.revokeObjectURL(file);
    },
    okdialog() {
      this.ok = false;
    },
    clearUpdate() {
      this.dialog = false;
    },
    onUpload() {
      this.$refs.myfile.click();
    },
    updateCard() {
      if (this.people.status == "admin") {
        this.id = this.people.id;
        this.firstname = this.people.firstname;
        this.lastname = this.people.lastname;
        this.birthdate = this.people.birthdate;
        this.joiningdate = this.people.joiningdate;
        this.address = this.people.address;
        this.city = this.people.city;
        this.phoneNumber = this.people.phone;
        this.email = this.people.email;
        this.status = this.people.status;
        // this.imag = this.people.img;
      } else if (this.people.status == "employee") {
        this.id = this.people.id;
        this.firstname = this.people.firstname;
        this.lastname = this.people.lastname;
        this.birthdate = this.people.birthdate;
        this.joiningdate = this.people.joiningdate;
        this.address = this.people.address;
        this.city = this.people.city;
        this.phoneNumber = this.people.phone;
        this.email = this.people.email;
        this.status = this.people.status;
        // this.imag = this.people.img;
      }
      this.dialog = true;
    },
    updateCard1() {
      if (this.status == "admin") {
        this.$store.commit("updateAdmin", {
          id: this.id,
          firstname: this.firstname,
          lastname: this.lastname,
          city: this.city,
          address: this.address,
          birthdate: this.birthdate,
          joiningdate: this.joiningdate,
          email: this.email,
          phone: this.phoneNumber,
          img: this.imag,
        });
      } else if (this.status == "employee") {
        this.$store.commit("updateStaff", {
          id: this.id,
          firstname: this.firstname,
          lastname: this.lastname,
          city: this.city,
          address: this.address,
          birthdate: this.birthdate,
          joiningdate: this.joiningdate,
          email: this.email,
          phone: this.phoneNumber,
          img: this.imag,
        });
     
      }
      console.log(this.joiningdate);
        this.people.id=this.id;
        this.people.firstname=this.firstname;
        this.people.lastname=this.lastname;
        this.people.birthdate= this.birthdate !="Not Added" ?  moment(String(this.birthdate)).format('MM/DD/YYYY hh:mm') : "Not Added";
        this.people.joiningdate=this.joiningdate !="Not Added" ? moment(String(this.joiningdate)).format('MM/DD/YYYY hh:mm') : "Not Added";
        this.people.address=this.address;
        this.people.city=this.city;
        this.people.phone=this.phoneNumber;
        this.people.email=this.email;
        this.people.status=this.status;
      this.dialog = false;
      this.ok = true;
    },
  },
};
</script>
<style scoped>
#listcon {
  margin: 0 auto;
  max-width: 900px;
  height: inherit;
  margin-top: 10%;
  box-sizing: border-box;
  border-radius: 15px;
  background-color:  rgb(32, 32, 32);
  color: #cbcbcb;
  padding: 1%;
  margin-bottom: 5%;
}
#profileView {
  position: relative;
  width: inherit;
  height: 800px;
  text-align: left;
  background-color: #fafcff;
  
  border-radius: 15px;
}
#viewdesign {
  height: 180px;
  display: flex;
  background-color: #D2D2D2; 
  padding: 6%;
  color: #e9f2fb;
  font-size: 18px;
  border-radius: 15px 15px 0px 0px;
}
.avatar {
  position: absolute;
  top: 12%;
  left: 3%;
  width: 100%;
  height: 100%;
}
.editbutton {
  position: absolute;
  top: 24%;
  left: 79%;
  width: 15%;
  height: 100%;
  /* border: 1px solid #6ae6d1; */
  color: #3b516e;
}
.imgbutton {
  position: absolute;
  top: 32%;
  left: 43%;
  width: 10%;
  height: 100%;
}
.admin {

  border: 2px solid #6ae6d1;
}
.employee {

  border: 2px solid #2196f3;
}
.col-sm-12 {
  padding: 2px;
}

#dialog {
  background-color: #f8f9fb;
}
#dialogtitle {
  height: 60px;
  display: flex;
  background-color: #3c4571;
  padding: 3%;
  color: #e9f2fb;
  font-size: 18px;
}
.datepick {
  width: 100%;
  border-bottom: 1px solid #636464;
}
</style>