<template>
  <div>
    <v-dialog v-model="ok" width="500">
      <v-card>
        <div id="dialogtitle" class="d-flex justify-space-between mb-6">
          <span style="font-size: 20px">Employee Updated</span>
        </div>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="#3c4571" dark @click="okdialog()"> Ok </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog Box for Deletation Conformation -->
    <v-dialog v-model="deletedialog" width="400">
      <v-card>
        <v-card-title class="headline grey lighten-1" primary-title>
          Confirmation
        </v-card-title>

        <div
          style="padding: 15%; height: 100px; text-align: center"
          class="mb-6 ml-6"
        >
          <span style="font-size: 20px">Do you want to Delete?</span>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="#F65656"  @click="Cancel()"> Cancel </v-btn>
      <div style="width:30px"></div>

          <v-btn color="#F65656" @click="deleteAdmin1()"> Confirm </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- DialogBox for Updating employee -->

    <v-dialog v-model="dialog" persistent max-width="500">
      <div id="dialog">
        <div id="dialogtitle" class="d-flex justify-space-between mb-6">
          <span style="font-size: 20px">Update Employee</span>
          <v-icon color="#fff" style="align-items: unset" @click="clearUpdate">
            mdi-close
          </v-icon>
        </div>
        <div style="padding-left: 6%; padding-top: 2%; padding-right: 5%">
          <validation-observer ref="observer" v-slot="{ invalid }">
            <form @submit.prevent="submit">
              <validation-provider
                v-slot="{ errors }"
                name="Name"
                rules="required|max:10"
              >
                <v-text-field
                  v-model="firstname"
                  :counter="10"
                  :error-messages="errors"
                  label="First Name"
                  required
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="Last Name"
                rules="required|max:10"
              >
                <v-text-field
                  v-model="lastname"
                  :counter="10"
                  :error-messages="errors"
                  label="Last Name"
                  required
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="phoneNumber"
                :rules="{
                  required: true,
                  digits: 13,
                  regex: '^(71|72|74|76|81|82|84|85|86|87|88|89)\\d{11}$',
                }"
              >
                <v-text-field
                  v-model="phoneNumber"
                  :counter="13"
                  :error-messages="errors"
                  label="Phone Number"
                  required
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="email"
                rules="required|email"
              >
                <v-text-field
                  v-model="email"
                  :error-messages="errors"
                  label="E-mail"
                  required
                ></v-text-field>
              </validation-provider>
              <v-text-field
                v-model="address"
                label="Address"
                required
              ></v-text-field>
              <v-text-field v-model="city" label="City" required></v-text-field>
              <div>
                <span style="font-size: 12px; color: #636464">Birth Date</span>
                <datepicker
                  class="datepick"
                  placeholder="Select Birth Date"
                  v-model="birthdate"
                ></datepicker>
              </div>
              <div style="margin-top: 16px; margin-bottom: 16px">
                <span style="font-size: 12px; color: #636464"
                  >Joining Date</span
                >
                <datepicker
                  class="datepick"
                  placeholder="Select Joining Date"
                  v-model="joiningdate"
                ></datepicker>
              </div>

              <v-btn
                class="mr-4 mb-5 mt-5"
                :disabled="invalid"
                v-on:click="updateCard1(employee)"
                color="#3c4571"
                dark
              >
                Update
              </v-btn>
            </form>
          </validation-observer>
        </div>
      </div>
    </v-dialog>
    <v-container>
      <v-row>
        <v-col v-for="employee in employees" :key="employee.id" cols="12" sm="4">
          <v-container class="pplcard">
            <v-row>
              <v-col style="margin-top:20px;" sm="8">
                  <v-row class="avatar"><v-avatar size="80">
                <img
                  alt="user"
                  :src="employee.img"
                />
              </v-avatar></v-row>
                  <!-- <v-col sm="4"><div style="margin-top:10px"> <span>{{ employee.name }}</span></div></v-col> -->
          
                    <v-row justify="center">
                      <v-col sm="12" style="margin-top:5px" >{{employee.firstname}}  {{employee.lastname}}</v-col>
                      <v-col sm="12" style="line-height:0.5;"><span style="font-size:16px; font-weight:300">{{employee.email}}</span></v-col>
                    </v-row>
              </v-col>

              <v-col sm="4">
               <!-- <v-card flat  color="#262626">
                    <v-card-text> -->
                      <v-col align="center" justify="center">
                        <v-btn-toggle  rounded dark>
                          <v-btn>
                            <v-icon
                              color="#6AE6D1"
                              dark
                             @click="viewCard(employee)"
                              >mdi-eye-outline</v-icon
                            >
                          </v-btn>
                          <v-btn>
                            <v-icon
                              color="#83B4EF"
                              dark
                              v-on:click="updateCard(employee)"
                              >mdi-pencil</v-icon
                            >
                          </v-btn>
                          <v-btn>
                            <v-icon
                              color="#F65656"
                              dark
                              v-on:click="deleteAdmin(employee)"
                            >
                              mdi-delete</v-icon
                            >
                          </v-btn>
                        </v-btn-toggle>
                        
                      </v-col>
                    <!-- </v-card-text>
                  </v-card> -->
                        
              </v-col>
            </v-row>
            
          </v-container>

        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { required, digits, email, max, regex } from "vee-validate/dist/rules";

import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";
import { mapMutations } from "vuex";
import Datepicker from "vuejs-datepicker";

setInteractionMode("eager");
extend("digits", {
  ...digits,
  message: "{_field_} needs to be {length} digits. ({_value_})",
});
extend("required", {
  ...required,
  message: "{_field_} can not be empty",
});
extend("max", {
  ...max,
  message: "{_field_} may not be greater than {length} characters",
});
extend("regex", {
  ...regex,
  message: "{_field_} {_value_} does not match {regex}",
});
extend("email", {
  ...email,
  message: "Email must be valid",
});

export default {
 
  data() {
    return {
      dialog: false,
      deletedialog: false,
      id: null,
      firstname: null,
      lastname: null,
      address: null,
      city: null,
      birthdate: null,
      joiningdate: null,
      phoneNumber: null,
      email: null,
      status: null,
      ok: false,

      employee: {
        firstname: null,
        lastname: null,
        address: null,
        city: null,
        birthdate: null,
        joiningdate: null,
        phone: null,
        email: null,
        status: null,
      },
    };
  },
  components: {
    ValidationObserver,
    ValidationProvider,
    Datepicker,
  },
  props: ["employees"],
  computed: {
    ...mapMutations(["updateAdmin", "updateStaff","Set_Person_Selected"]),
  },
  methods: {
    // customFormatter(date) {
    // return moment(date).format('MMM Do YYYY');
    // },
    Cancel() {
      this.deletedialog = false;
    },
    okdialog() {
      this.ok = false;
    },
    viewCard(employee) {
      if (employee.status == "admin") {
         this.$store.commit("Set_Person_Selected",employee);
         this.$router.push({name:'profile', params: {employee}});
      } else if (employee.status == "employee") {
        this.$store.commit("Set_Person_Selected",employee);
         this.$router.push({name:'profile', params: {employee}});
      }
    },
    updateCard(employee) {
      if (employee.status == "admin") {
        this.id = employee.id;
        this.firstname = employee.firstname;
        this.lastname = employee.lastname;
        this.birthdate = employee.birthdate;
        this.joiningdate = employee.joiningdate;
        this.address = employee.address;
        this.city = employee.city;
        this.phoneNumber = employee.phone;
        this.email = employee.email;
        this.status = employee.status;
        this.imag = employee.img;
      } else if (employee.status == "employee") {
        this.id = employee.id;
        this.firstname = employee.firstname;
        this.lastname = employee.lastname;
        this.birthdate = employee.birthdate;
        this.joiningdate = employee.joiningdate;
        this.address = employee.address;
        this.city = employee.city;
        this.phoneNumber = employee.phone;
        this.email = employee.email;
        this.status = employee.status;
        this.imag = employee.img;
      }
      this.dialog = true;
    },
    updateCard1() {
      if (this.status == "admin") {
        this.$store.commit("updateAdmin", {
          id: this.id,
          firstname: this.firstname,
          lastname: this.lastname,
          city: this.city,
          address: this.address,
          birthdate: this.birthdate,
          joiningdate: this.joiningdate,
          email: this.email,
          phone: this.phoneNumber,
          img: this.imag,
        });
      } else if (this.status == "employee") {
        this.$store.commit("updateStaff", {
          id: this.id,
          firstname: this.firstname,
          lastname: this.lastname,
          city: this.city,
          address: this.address,
          birthdate: this.birthdate,
          joiningdate: this.joiningdate,
          email: this.email,
          phone: this.phoneNumber,
          img: this.imag,
        });
      }
      this.dialog = false;
      this.ok = true;
    },
    deleteAdmin(employee) {
      this.id = employee.id;
      this.status = employee.status;
      this.deletedialog = true;
    },
    deleteAdmin1() {

      if (this.status == "admin" ) {
        this.$store.commit("DELETE_Admin", this.id);
      } else if (this.status == "employee") {
        this.$store.commit("DELETE_Staff", this.id);
      }
      this.deletedialog = false;
    },
    clearUpdate() {
      this.dialog = false;
    },
  },
};
</script>

<style scoped>
.description{
     font-family: "Merienda", Helvetica, Arial;
     font-size: 20px;
  }
.pplcard {
  /* height: 100px;
  width: 300px; */
  border-radius: 15px;
  padding: 10%;
  background-color: #262626;
  font-size: 18px;
  font-weight: 500;
}
#dialog {
  background-color: #f8f9fb;
}
#viewdesign {
  height: 150px;
  display: flex;
  background-color: #83b4ef;
  padding: 6%;
  color: #e9f2fb;
  font-size: 18px;
  border-radius: 35px 35px 0px 0px;
}
#dialogtitle {
  height: 80px;
  display: flex;
  background-color: #3c4571;
  padding: 5%;
  color: #e9f2fb;
  font-size: 18px;
}
.col-sm-12 {
  padding: 2px;
  text-align: center;
}
.datepick {
  width: 100%;
  border-bottom: 1px solid #636464;
}

.com-sm-8{
  text-align: center;
}
.v-btn-toggle {
  flex-direction: column;
  border-radius: 0; 
  background-color: transparent;
}
.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) {
    background: transparent; 
    color: #FFFFFF;
}
.avatar{
 justify-content: center;
}
 .v-btn-toggle > .v-btn.v-btn:last-child{
   border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
 }
 .v-btn-toggle > .v-btn.v-btn:first-child{
   border-top-right-radius: 20px;
    border-top-left-radius: 20px;
 }
 .v-application--is-ltr .v-btn-toggle > .v-btn.v-btn:not(:first-child) {
    border-left-width: thin;
}

</style>
