<template>
  <div>
    <v-dialog v-model="ok" width="500">
      <v-card>
        <div id="dialogtitle" class="d-flex justify-space-between mb-6">
          <span style="font-size:20px;">Employee Added</span>
        </div>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="#3c4571"  dark @click="okdialog()"> Ok </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog" persistent max-width="500">
      <div id="dialog">
        <div id="dialogtitle" class="d-flex justify-space-between mb-6">
          <span style="font-size:20px;">Add New Employee</span>
          <v-icon color="#fff" style="align-items: unset" @click="clear">
            mdi-close
          </v-icon>
        </div>
        <div style="padding-left: 6%;padding-top: 2%;padding-right: 5%">
          <validation-observer ref="observer" v-slot="{ invalid }">
            <form @submit.prevent="submit">
              <validation-provider
                v-slot="{ errors }"
                name="Name"
                rules="required|max:10"
              >
                <v-text-field
                  v-model="firstname"
                  :counter="10"
                  :error-messages="errors"
                  label="First Name"
                  required
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="Last Name"
                rules="required|max:10"
              >
                <v-text-field
                  v-model="lastname"
                  :counter="10"
                  :error-messages="errors"
                  label="Last Name"
                  required
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="phoneNumber"
                :rules="{
                  required: true,
                  digits: 13,
                  regex: '^(71|72|74|76|81|82|84|85|86|87|88|89)\\d{11}$',
                }"
              >
                <v-text-field
                  v-model="phoneNumber"
                  :counter="13"
                  :error-messages="errors"
                  label="Phone Number"
                  required
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="email"
                rules="required|email"
              >
                <v-text-field
                  v-model="email"
                  :error-messages="errors"
                  label="E-mail"
                  required
                ></v-text-field>
              </validation-provider>
               <v-text-field
                  v-model="address"
                  label="Address"
                  required
                ></v-text-field>
                 <v-text-field
                  v-model="city"
                  label="City"
                  required
                ></v-text-field>
                 <div>
      <span style="font-size:12px;color:#636464">Birth Date</span>
       <datepicker  class="datepick" placeholder="Select Birth Date" v-model="birthdate"></datepicker>
    </div>
                 <!-- <v-text-field
                  v-model="joiningdate"
                  label="Joining Date"
                  required
                ></v-text-field> -->
                 <div style="margin-top:16px;margin-bottom:16px;">
      <span style="font-size:12px;color:#636464">Joining Date</span>
       <datepicker  class="datepick" placeholder="Select Joining Date" v-model="joiningdate"></datepicker>
    </div>
               

              <v-btn class="mr-4 mt-5 mb-5" color="#3c4571" type="submit" :disabled="invalid">
                submit
              </v-btn>
            </form>
          </validation-observer>
        </div>
      </div>
    </v-dialog>

    <div id="listcon">
      <div class="admindiv">
        <div id="distitle">
          <div id="title">
            <v-row>
              <v-col col="2" sm="3">
                <v-icon color="#6AE6D1"> mdi-account </v-icon>
              </v-col>
              <v-col><h3>Admins</h3></v-col>
            </v-row>
          </div>
          <div id="actions">
            <v-btn
              class="mx-2"
              fab
              dark
              small
              color="#6AE6D1"
              @click="addadmin"
            >
              <v-icon dark> mdi-plus </v-icon>
            </v-btn>
          </div>
        </div>

        <Employees :employees="allAdmins"></Employees>
      </div>
      <p></p>
      <div class="staffdiv">
        <div id="distitle">
          <div id="title">
            <v-row>
              <v-col col="2" sm="3">
                <v-icon color="#83B4EF"> mdi-account </v-icon>
              </v-col>
              <v-col><h3>Employees</h3></v-col>
            </v-row>
          </div>
          <div id="actions">
            <v-btn class="mx-2" fab dark small color="#83B4EF">
              <v-icon dark @click="addstaff()"> mdi-plus </v-icon>
            </v-btn>
          </div>
        </div>
        <Employees :employees="allStaffs"></Employees>
      </div>
    </div>
  </div>
</template>
<script>
import Employees from "./Employees";
import { mapGetters, mapMutations } from "vuex";
import { required, digits, email, max, regex } from "vee-validate/dist/rules";
import Datepicker from 'vuejs-datepicker';
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";
import { uuid } from "vue-uuid";
 


setInteractionMode("eager");
extend("digits", {
  ...digits,
  message: "{_field_} needs to be {length} digits. ({_value_})",
});
extend("required", {
  ...required,
  message: "{_field_} can not be empty",
});
extend("max", {
  ...max,
  message: "{_field_} may not be greater than {length} characters",
});
extend("regex", {
  ...regex,
  message: "{_field_} {_value_} does not match {regex}",
});
extend("email", {
  ...email,
  message: "Email must be valid",
});

export default {
  name: "App",
  data() {
    return {
      admin: {
        id:null,
        firstname: null,
        lastname:null,
        address:null,
        city:null,
        birthdate:null,
        joiningdate:null,
        phone: null,
        email: null,
        status: null,
        img:null
      },
      staff: {
        id:null,
        firstname: null,
        lastname:null,
        address:null,
        city:null,
        birthdate:null,
        joiningdate:null,
        phone: null,
        email: null,
        status: null,
        img:null
      },
      
      dialog: false,
      ok: false,
      id:null,
        firstname: null,
        lastname:null,
        address:null,
        city:null,
        birthdate:null,
        joiningdate:null,
        phoneNumber: null,
        email: null,
        status: null,
    };
  },
  components: {
    Employees,
    ValidationObserver,
    ValidationProvider,
    Datepicker
  },
  computed: {
    
    ...mapGetters(["allAdmins", "allStaffs"]),
    
  },
  
  methods: {
    ...mapMutations(["addAdmin", "addStaff"]),
    addadmin() {
      this.status = "admin";
      this.dialog = true;
      
    },
    addstaff() {
      this.status = "employee";
      this.dialog = true;
      
    },

    submit() {
      if (this.status == "admin") {
        this.$refs.observer.validate();
        this.admin.firstname = this.firstname;
        this.admin.lastname = this.lastname;
        this.admin.phone = this.phoneNumber;
        this.admin.email = this.email;
        this.admin.address=this.address;
        this.admin.city=this.city;
        this.admin.birthdate=this.birthdate;
        this.admin.joiningdate=this.joiningdate;
        this.admin.status = "admin";
        this.admin.id = uuid.v1();
        this.admin.img=require("@/assets/blank-profile-picture-973460_640.png");
        this.$store.commit("addAdmin",this.admin);
        this.dialog = false;
        this.admin=null;
        this.ok = true;
      } else if (this.status == "employee") {
        this.$refs.observer.validate();
        this.staff.firstname = this.firstname;
        this.staff.lastname = this.lastname;
        this.staff.phone = this.phoneNumber;
        this.staff.email = this.email;
        this.staff.address=this.address;
        this.staff.city=this.city;
        this.staff.birthdate=this.birthdate;
        this.staff.joiningdate=this.joiningdate;
        this.staff.status = "employee";
        this.staff.id = uuid.v1();
        this.staff.img=require("@/assets/blank-profile-picture-973460_640.png");
        this.$store.commit("addStaff",this.staff);
      
        this.dialog = false;
        this.staff=null;
        this.ok = true;
      }
    },
    okdialog() {
      this.firstname = "";
      this.lastname = "";
      this.address="";
      this.city="";
      this.joiningdate="";
      this.birthdate="";
      this.phoneNumber = "";
      this.email = "";
      this.$refs.observer.reset();
      this.ok = false;
    },
    clear() {
      this.firstname = "";
      this.lastname = "";
      this.address="";
      this.city="";
      this.joiningdate="";
      this.birthdate="";
      this.phoneNumber = "";
      this.email = "";
      this.$refs.observer.reset();
      this.dialog = false;
    },
  },
};
</script>
<style scoped>
#listcon {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 10%;
  margin-bottom: 5%;
  background-color: rgb(32, 32, 32);
  box-sizing: border-box;
  border-radius: 15px;
  color: #cbcbcb;
  padding: 5%;
}
#distitle {
  display: flex;
}
#title {
  width: 150px;
  height: 50px;
  margin-left: 12px;
  background-color: #262626;
  border-radius: 25px;
  text-align: left;
  padding: 1%;
}
#actions {
  margin-left: 2%;
  margin-top: 5px;
}
#dialog {
  background-color: #f8f9fb;
}
#dialogtitle {
  height: 80px;
  display: flex;
  background-color: #3c4571;
  padding: 5%;
  color: #e9f2fb;
  font-size: 18px;
}
.admindiv {
  border: solid 1px #6ae6d1;
  padding: 5%;
  border-radius: 30px;
}
.staffdiv {
  border: solid 1px #83b4ef;
  padding: 5%;
  border-radius: 30px;
}
.datepick{
  width:100%;
  border-bottom: 1px solid #636464;
}
</style>